.button.btn.btn-success {
    background-color: rgb(76, 76, 160);
}
.card {
    display: flexbox;
    flex-direction: row;
}
/* .show>.dropdownMenuButton {
    display: block;
    position: absolute;
  } */

.FileUpload {
    border: 3px solid grey;
    display: flex;
    float: right;
}
.form-group {
    border: 3px solid grey;
}