.button.btn.btn-success {
    background-color: rgb(76, 76, 160);
}
.card {
    display: flexbox;
    flex-direction: row;
}
/* .show>.dropdownMenuButton {
    display: block;
    position: absolute;
  } */
.button.btn.submitBtn {
    background-color: solid red;
}
.navUpLoad {
    border: 3px solid grey;
    display: flex;
    flex-direction: row;
    flex-flow: 10px;
    padding: 20px;
    justify-content: space-between;
}
.form-group {
    border: 3px opaque grey;
}
/* .formGroupMap {
    height: 50px;
    width: 50px;
} */