.button.btn.btn-success {
    background-color: rgb(76, 76, 160);
}
.form-control {
    width: 100%;
}
.button.btn.submitBtn {
    background-color: solid red;
}
.navUpLoad {
    display: flex;
    align-self: center;
    flex-direction: row;
    flex-flow: 10px;
    padding: 10px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    flex-wrap: wrap;

}

.formGroupMap {
    display: flex;
    position: center;
}
.formGroupPicture {
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    display: flex;
}
.issues {
    display: flex;
    justify-content: space-around;
    /* align-self: center; */
    flex-direction: row;
    /* flex-flow: repeat; */
    padding: 10px;
    flex-wrap: wrap;

}
.card {
    display: flex;
    width: auto;
    position: relative;
    flex-basis: auto;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 3px;
    margin: 0 auto;
}
.cards {
    width: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 3px;
    margin: 0 auto;
}